
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron text-center">
    <h1>My ASP.Net Core App with Bootstrap 4</h1>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col-md-4">
            <h3> My Column 1</h3>
            <p>The ACT science test is a 40 question, 35 minute test that mease the interpretation, analysis, evaluation, reasoning and problem-solving skills required in the natural sciences. The test presents several sets of scientific information, each followed by a number of multiple-choice test questions.</p>
        </div>
        <div class="col-md-4">
            <h3> My Column 2</h3>
            <p>The ACT science test is a 40 question, 35 minute test that mease the interpretation, analysis, evaluation, reasoning and problem-solving skills required in the natural sciences. The test presents several sets of scientific information, each followed by a number of multiple-choice test questions.</p>
        </div>
        <div class="col-md-4">
            <h3> My Column 3</h3>
            <p>The ACT science test is a 40 question, 35 minute test that mease the interpretation, analysis, evaluation, reasoning and problem-solving skills required in the natural sciences. The test presents several sets of scientific information, each followed by a number of multiple-choice test questions.</p>
        </div>
    </div>
</div>

